{% extends "templates/web.html" %} {% block title %} {{ title or _("Payment") }} {% endblock %} {%
block script %}
<script src="https://js.stripe.com/v3/"></script>
<script>
	{% include "templates/includes/stripe.js" %}
</script>
{% endblock %} {%- block page_content -%}
<div id="payment-section">
	<div class="payment-card">
		<div class="payment-header">
			{% if image %}
			<img src="{{ image }}" alt="Brand Logo" />
			{% endif %}
			<h2 id="header-title">{{ title or _("Complete Payment") }}</h2>
			<p id="header-description">{{ description }}</p>
		</div>

		{% if not paid %}
		<form id="payment-form">
			<div class="form-group">
				<label for="cardholder-name">{{ _("Cardholder Name") }}</label>
				<input
					id="cardholder-name"
					name="cardholder-name"
					class="input-field"
					placeholder="Jane Doe"
					value="{{ payer_name }}"
				/>
			</div>

			<div class="form-group">
				<label for="cardholder-email">{{ _("Email Address") }}</label>
				<input
					id="cardholder-email"
					name="cardholder-email"
					type="email"
					class="input-field"
					placeholder="jane@example.com"
					value="{{ payer_email }}"
				/>
			</div>

			<div class="form-group">
				<label>{{ _("Card Details") }}</label>
				<div id="card-element"></div>
				<div id="card-errors" role="alert"></div>
			</div>

			<button class="submit-btn" id="submit">{{ _("Pay") }} {{ amount }}</button>
		</form>
		{% endif %}

		<div
			id="success-container"
			class="outcome"
			style="{% if not paid %}display: none;{% else %}display: block;{% endif %}"
		>
			<div class="success-msg mb-4" style="text-align: center">
				<p>{{ _("Your payment has been successfully processed.") }}</p>
			</div>
			<a
				href="{{ redirect_url }}"
				class="submit-btn text-center"
				style="text-decoration: none; display: block; text-align: center"
			>
				{{ _("Go Back") }}
			</a>
		</div>

		<div class="outcome">
			<div class="error-msg" id="payment-error" hidden></div>
		</div>
	</div>
</div>
{% endblock %}
